@import url("style.css");

/*============================== Imports ==================================== */

/*============================== Configurations ==============================*/
:root {
    /*=============== COLORS ===============*/


    /*=============== BACKGROUNDS ===============*/
    --project-background-color: var(--tangaroa-color);
    --project-action-background-color--hover: var(--white-08-color);
    --project-action-background-color--active: var(--white-16-color);
    --project-profile-background-color--hover: var(--white-08-color);
    --hidden-code-background-color: var(--cod-gray-color);

    /*=============== BORDERS ===============*/


    /*=============== TEXT COLORS ===============*/


    /*=============== FONTS ===============*/

}

/*============================== GENERIC ELEMENTS ==============================*/


/*============================== GENERIC CLASSES ==============================*/


/*============================== PAGE - TOP TO BOTTOM ==============================*/
/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 2.5rem;
}

    .code__internal-block {
        position: relative;
    }

        .code__internal-block__wrapper {
            min-height: 10rem;
            max-height: 15rem;

            color: var(--white-text-color);

            overflow-y: hidden;
        }

            .code__internal-block__code--hidden-text {
                background-image: linear-gradient(transparent, transparent 75%, var(--hidden-code-background-color) 90%);
                width: 100%;
                height: 100%;

                position: absolute;

                transform: translate(-1rem, -1rem);
            }

    .project {
        background-color: var(--project-background-color);

        border-radius: 0.5rem;
    }

        .project__info {
            padding: 2rem;

            color: var(--white-text-color);
        }

            .project__info__title {
                font-size: 1.5rem;
            }

            .project__info__description {
                margin-top: 0.5rem;

                color: var(--white-50-text-color);
            }

            .project__info__data {
                display: flex;
                justify-content: space-between;

                margin-top: 1.5rem;
            }

                .project__info__data__actions {
                    display: flex;
                    gap: 1rem;
                }

                    .project__info__action {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        border-radius: 1rem;
                        padding: 0.5rem;

                        cursor: pointer;
                        transition: 0.2s;
                    }

                        .project__info__action:hover {
                            background-color: var(--project-action-background-color--hover);
                        }

                        .project__info__action:active {
                            background-color: var(--project-action-background-color--active);
                        }

                .project__info__data__profile {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    border-radius: 0.5rem;
                    padding: 0.75rem;

                    cursor: pointer;
                    transition: 0.2s;
                }

                    .project__info__data__profile:hover {
                        background-color: var(--project-profile-background-color--hover);
                    }

/*=============== RESPONSIVE LAYOUTS ===============*/
/* DESKTOP - 1024px */
@media screen and (min-width: 64rem) {
    /*============================== PAGE - TOP TO BOTTOM ==============================*/
    /* HEADER */
    .header {
        gap: 2.5rem;
    }

    .main {
        grid-column: 2 / -1;
    }

    /* PROJECTS */
    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        margin-top: 0;
    }

        .project {
            height: fit-content;
        }

            .project__info__data {
                height: 0;

                margin: 0;

                overflow: hidden;
                transition: 0.2s;
            }

            .project:hover .project__info__data {
                height: fit-content;

                margin-top: 2rem;
            }
}