/*============================== IMPORTS ==================================== */
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap');
/*
    [
        {
            Name: "Inter",
            Weights: [
                400: "Regular",
                700: "Bold"
            ]
        },

        {
            Name: "Roboto Mono",
            Weights: [
                400: "Regular"
            ]
        }
    ]
*/

/*============================== CONFIGURATIONS ==============================*/
:root {
    /*=============== COLORS ===============*/
    --test: #041934;
    --cod-gray-color: hsl(0, 0%, 8%);
    --black-color: hsl(0, 0%, 0%);
    --black-24-color: hsla(0, 0%, 0%, 0.24);
    --black-50-color: hsla(0, 0%, 0%, 0.5);
    --silver-color: hsl(0, 0%, 80%);
    --white-color: hsl(0, 0%, 100%);
    --white-25-color: hsla(0, 0%, 100%, 0.25);
    --white-50-color: hsla(0, 0%, 100%, 0.5);
    --rhino-color: hsl(213, 33%, 26%);
    --deep-cove-color: hsl(213, 84%, 13%);
    --fiord-color: hsl(214, 24%, 34%);
    --tangaroa-color: hsl(214, 86%, 11%);
    --malibu-light-color: hsl(220, 96%, 79%);
    --malibu-moderate-color: hsl(221, 96%, 74%);
    --dodge-blue-color: hsl(223, 96%, 65%);
    --dodge-blue-08-color: hsla(223, 96%, 65%, 0.08);
    --dodge-blue-16-color: hsla(223, 96%, 65%, 0.16);
    --dodge-blue-24-color: hsla(223, 96%, 65%, 0.24);
    --dodge-blue-72-color: hsla(223, 96%, 65%, 0.72);


    /*=============== BACKGROUNDS ===============*/
    /*======= GENERAL =======*/
    --page-background-color: var(--deep-cove-color);
    --gray-screen-background-color: var(--black-50-color);
    /*======= INPUTS =======*/
    --input-text-background-color: var(--rhino-color);
    --input-text-background-color--hover: var(--fiord-color);
    /*======= PAGE COMPONENTS =======*/
    --header-menu-background-color: var(--rhino-color);
    --code-external-block-background-color: var(--malibu-moderate-color);
    --code-internal-block-background-color: var(--cod-gray-color);
    
    
    /*=============== BORDERS ===============*/
    /*======= GENERAL =======*/
    --hr-border-color: var(--white-25-color);
    /*======= BUTTONS =======*/
    --primary-button-border-color--active: var(--dodge-blue-24-color);
    --secondary-button-border-color--active: var(--dodge-blue-72-color);


    /*=============== BOX-SHADOWS ===============*/
    --code-box-shadow-color: var(--black-24-color);


    /*=============== TEXT COLORS ===============*/
    /*======= GENERAL =======*/
    --white-text-color: var(--white-color);
    --white-50-text-color: var(--white-50-color);
    --black-text-color: var(--black-color);
    /*======= INPUTS =======*/
    --input-text-placeholder-text-color: var(--silver-color);


    /*=============== FONTS ===============*/
    --inter-font: "Inter", "Arial", "Helvetica", sans-serif;
    --roboto-mono-font: "Roboto Mono", "Courier New", Courier, monospace;
}

/*============================== GENERIC ELEMENTS ==============================*/
html,
body {
    font-family: var(--inter-font);
    font-size: 16px;
}

body {
    background-color: var(--page-background-color);

    padding: 2rem 1rem;
    box-sizing: border-box;

    line-height: 1.5rem;
}

input,
textarea {
    width: 100%;
    
    box-sizing: border-box;
}

fieldset {
    padding: 0;
}

a {
    text-decoration: none;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-color: var(--hr-border-color);
}

/*============================== GENERIC CLASSES ==============================*/
.tablet,
.desktop {
    display: none;
}

.mobile {
    display: initial;
}

/*=============== BLOCKS ===============*/
.box {
    margin-bottom: 2.5rem;
}

.display-none {
    display: none;
}

.display-initial {
    display: initial;
}

.gray-screen {
    background-color: var(--gray-screen-background-color);
    
    width: 100vw;
    height: 100vh;
    
    position: fixed;
    left: 0;
    top: 0;
}

/* TITLES */
.h2 {
    color: var(--white-text-color);
    font-size: 0.75rem;
    text-transform: uppercase;
    
    letter-spacing: 0.25rem;
    line-height: 1.125rem;
}

/*=============== INPUTS ===============*/
.input-text {
    background-color: var(--input-text-background-color);

    border: none;
    border-radius: 0.5rem;
    padding: 1rem;

    color: var(--white-text-color);

    transition: 0.2s background-color;
}

    .input-text:hover,
    .input-text:focus {
        background-color: var(--input-text-background-color--hover);
    }

    .input-text::placeholder {
        color: var(--input-text-placeholder-text-color);
    }

/*=============== ACCESSIBILITY ===============*/
.accessibility--hidden-text {
    width: 1px;
    height: 1px;

    position: absolute;
    
    color: transparent;
    
    overflow: hidden;
}

/*=============== ACCESSIBILITY ===============*/
.clickable {
    cursor: pointer;
}

/*============================== PAGE - TOP TO BOTTOM ==============================*/
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    position: sticky;
    top: 2rem;

    z-index: 1;
}

    .header__search-button {
        margin-left: auto;
    }

        .header__search-button--active {
            order: 1;
        }

    .header__menu {
        background-color: var(--header-menu-background-color);
        
        width: 12.5rem;
        height: 70vh;
        
        position: fixed;
        left: 100%;
        top: 0;

        border-radius: 0.5rem;
        padding: 1.5rem;

        transition: 0.2s transform;
        z-index: 1;
    }

        .header__menu__links,
        .menu__links {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

            .header__menu__links__item,
            .menu__links__item {
                display: flex;
                align-items: center;
                gap: 1rem;

                color: var(--white-50-text-color);
            }
            
                .header__menu__links__item--current,
                .menu__links__item--current {
                    color: var(--white-text-color);

                    cursor: default;
                }

        .header__menu--active {
            transform: translateX(-105%);
        }
        
            .header__menu__profile {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                margin-left: auto;

                color: var(--white-text-color);
            }

/* CODE */
.code__external-block {
    background-color: var(--code-external-block-background-color);

    display: block;

    border-radius: 0.5rem;
    padding: 2rem;
}

    .code__internal-block {
        background-color: var(--code-internal-block-background-color);

        min-height: 10rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        
        border-radius: 0.5rem;
        box-shadow: 0 1rem 1.5rem 0 var(--code-box-shadow-color);
        padding: 1rem;
    }

        .code__internal-block__wrapper {
            width: 100%;
        }

            .code__internal-block__code {
                background-color: transparent;

                padding-left: 0;
                padding-right: 0;
                box-sizing: border-box;

                font-family: var(--roboto-mono-font);

                line-height: 1.5rem;
                white-space: pre-wrap;
            }

                .code__internal-block__code:focus {
                    outline: none;
                }


/*=============== RESPONSIVE LAYOUTS ===============*/
/* TABLET - 768px */
@media screen and (min-width: 48rem) {
    /*============================== GENERIC ELEMENTS ==============================*/
    html,
    body {
        font-size: 18px;
    }

    /*============================== GENERIC CLASSES ==============================*/
    /* RESPONSIBLE */
    .mobile {
        display: none;
    }

    .tablet {
        display: initial;
    }
    
    /*============================== PAGE - TOP TO BOTTOM ==============================*/
    /* HEADER */
    .header {
        gap: 2.25rem;
    }

        .header__search {
            flex-grow: 2;
        }
}

/* DESKTOP - 1024px */
@media screen and (min-width: 64rem) {
    /*============================== GENERIC ELEMENTS ==============================*/
    html,
    body {
        font-size: 20px;
    }

    /*============================== GENERIC CLASSES ==============================*/
    /* RESPONSIBLE */
    .tablet {
        display: none;
    }

    .desktop {
        display: initial;
    }
    
    /*============================== PAGE - TOP TO BOTTOM ==============================*/
    .entire-page {
        display: grid;
        grid-template-columns: 20vw 1fr 20vw;
        gap: 2.5rem;
    }
    
    /* HEADER */
    .header {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: 20vw 1fr 20vw;
        gap: 0;
    }

        .header__profile {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            margin-left: auto;

            color: var(--white-text-color);
        }

    /* MENU */
    .menu {
        margin-right: 2.5rem;
    }

        .menu__title {
            margin-bottom: 1rem;
        }
}